
# For local development:
VITE_BOT_START_URL="http://localhost:7860/start"

# For connecting to your agent running on Pipecat Cloud:
### (replace {agentName} with your agent name):
# VITE_BOT_START_URL="https://api.pipecat.daily.co/v1/public/{agentName}/start"
### Create a public API key at https://pipecat.daily.co/{yourOrgName}/settings/keys
### Note: In production, these values will be exposed in the browser bundle.
### For production apps, consider using a backend proxy to protect secrets.
# VITE_BOT_START_PUBLIC_API_KEY="pk_8ddefb8b-abcd-1234-7890-7b0596429026"


# For both local and Pipecat Cloud:
VITE_PIPECAT_TRANSPORT=daily

